  <div class="page-header">
    <h3>
      <a ng-show="post.link" href="{{post.link}}">
        {{post.title}}
      </a>
      <span ng-hide="post.link">
        {{post.title}}
      </span>
    </h3>
  </div>

  <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
      <div class="row">
          <div class="col-md-1 small-right-gutters small-col">
              <div class="row">
                  <div class="col-md-1 small-right-gutters">
                      <div class="glyphicon glyphicon-arrow-up z-front" ng-class="{orangeRed: upvoted(comment)}" ng-click="addUpvote(comment)"></div>
                      <div class="glyphicon glyphicon-arrow-down z-front" ng-class="{dodgerBlue: downvoted(comment)}" ng-click="addDownvote(comment)"></div>
                  </div>
                  <div class="col-md-1 vert-center">
                      {{comment.upvotes}}
                  </div>
              </div>
          </div>
          <div class="col-md-9 big-col vert-center">
              {{ comment.body }}
          </div>
          <div class="col-md-2 text-right vert-center">
              <small>posted by <a ng-href="#/users/{{post.user.username}}">{{ comment.user.username }}</a></small>
          </div>
      </div>
      <hr style="margin:3px;">
  </div>
  <form ng-show="loggedIn()" ng-submit="addComment()" style="margin-top:30px;">
    <h3>Add a new comment</h3>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Comment" ng-model="body" />
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
  </form>

  <br>

  <div ng-hide="loggedIn()" class="alert alert-info">
      <a href="#/login">Log in</a> or <a href="#/register">sign up</a> to add a comment!
  </div>
